.steps {
  display: flex;
  flex-basis: 45vh;
  justify-content: space-around;
  padding-left: 5vw;
  padding-right: 5vw;
  div {
    flex-basis: 25vw;
    div {
      position: relative;
      background-color: rgb(117, 187, 70);
      border-radius: 50px;
      left: 50%;
      transform: translate(-50%);
      width: 90px;
      height: 90px;
      margin-bottom: 3vh;
      img {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 5%;
      }
    }
    h3,
    p {
      padding-bottom: 15px;
      text-align: center;
      font-size: 2em;
    }
  }
}

@media (max-width: 800px) {
  main {
    .intro {
      .steps div {
        div {
          height: 50px;
          width: 50px;
          img {
            height: 30px;
          }
        }
        h3,
        p {
          font-size: 1.2em;
        }
      }
    }
  }
}
