.question {
  position: relative;
  background-color: rgb(117, 187, 70);
  height: 25vh;
  color: white;

  h2 {
    position: absolute;
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.5em;
  }

  button {
    position: absolute;
    font-size: 19px;
    color: white;
    top: 55%;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgb(117, 187, 70);
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: rgb(89, 138, 56);
    }
  }
}

@media (max-width:768px) {
  .question {
    height: 20vh;

    h2 {
      top: 10%;
      left: 50%;
    }
  }
}

@media (max-width:640px) {
  .question {
    height: 35vh;

    h2 {
      top: 5%;
      font-size: 1.5em;
      width: 80%;
    }

    button {
      font-size: 1em;
      padding: 10px 30px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: rgb(89, 138, 56);
      }
    }
  }
}