.question {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(117, 187, 70);
  height: 25vh;
  color: white;
  h2 {
    text-align: center;
    font-size: 2.4em;
  }
  button {
    font-size: 2em;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgb(117, 187, 70);
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: rgb(89, 138, 56);
    }
  }
}

@media (max-width: 800px) {
  .question {
    h2 {
      font-size: 2em;
    }
    button {
      font-size: 1.9em;
    }
  }
}
