.employees {
  display: flex;
  height: 90vh;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20vw 0 20vw;

  div {
    overflow: hidden;
    // height: 45vh;
    flex-basis: 25vw;
    text-align: center;
    // background-color: red;

    img {
      position: relative;
      left: 50%;
      transform: translate(-50%);
      width: 400px;
      height: 250px;
    }

    h3 {
      color: rgb(97, 97, 97);
      margin-top: 5px;
    }

    p {
      color: rgb(136, 136, 136);
      margin-top: 5px;
    }
  }
}

@media (orientation: portrait) {
  .employees {
    height: 65vh;
  }
}

@media (max-width: 640px) {
  .employees {
    height: 180vh;
    padding: 0 20vw 0 20vw;
  }
}

@media (max-width: 360px) {
  .employees {
    height: 40vh;
    padding: 2vh 5vw 0 5vw;

    div {
      overflow: hidden;
      height: 35vh;
      flex-basis: 22vw;

      img {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 250px;
        height: 150px;
      }

      h3 {
        font-size: 0.9em;
      }

      p {
        font-size: 0.8em;
      }
    }
  }
}
