main {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    .introTitle {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-basis: 15vh;
      h2 {
        text-align: center;
        font-size: 3.5em;
        text-transform: capitalize;
      }
      p {
        text-align: center;
        font-size: 2.5em;
        padding: 0 10% 0 10%;
      }
    }
  }
}

@media (max-width: 1366px) {
  main {
    .intro {
      .introTitle {
        p {
          font-size: 2em;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  main {
    .intro {
      .introTitle {
        h2 {
          font-size: 2.4em;
        }
        p {
          font-size: 1.6em;
        }
      }
    }
  }
}
