.trustedPeople {
  display: flex;
  flex-basis: 45vh;
  justify-content: space-between;
  div {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    height: 35vh;

    div {
      width: 120px;
      height: 120px;
      border-radius: 60px;
    }
    h3 {
      text-align: center;
      width: 20vw;
    }
    .man {
      background-position: 23% 20%;
    }
    .buisnesswoman {
      background-position: 60% 2%;
      background-size: 250%;
    }
    .granny {
      background-position: 20% 0%;
      background-size: 200%;
    }
  }
}

@media (max-width: 1366px) {
  .trustedPeople {
    div {
      height: 35vh;
      margin-top: 2vh;
      h3 {
        margin-top: 5vh;
      }
    }
  }
}

@media (max-width: 775px) {
  .trustedPeople {
    div {
      height: 50vh;
      margin-top: 2vh;
      h3 {
        margin-top: 5vh;
        font-size: 0.7em;
      }
      div {
        width: 75px;
        height: 75px;
        border-radius: 60px;
      }
      .man {
        background-position: 23% 20%;
        background-size: 500%;
      }
      .buisnesswoman {
        background-position: 60% 2%;
        background-size: 250%;
      }
      .granny {
        background-position: 20% 0%;
        background-size: 200%;
      }
    }
  }
}
