.contactTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25vh;
  text-align: center;
  h1 {
    font-size: 3.5em;
    text-transform: uppercase;
  }
  p {
    font-size: 2em;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
  input {
    width: 25vw;
    border-radius: 5px;
    border: 1px solid rgb(187, 187, 187);
    background-color: rgb(241, 241, 241);
    transition: 0.5s;
    &:focus {
      border: 1px solid rgb(253, 187, 63);
      box-shadow: 0px 0px 5px 0px rgb(253, 211, 119);
      background-color: white;
    }
  }
  textarea {
    width: 25vw;
    border-radius: 5px;
    border: 1px solid rgb(187, 187, 187);
    background-color: rgb(241, 241, 241);
    transition: 0.5s;
    &:focus {
      border: 1px solid rgb(253, 187, 63);
      background-color: white;
      box-shadow: 0px 0px 5px 0px rgb(253, 211, 119);
    }
  }
  button {
    width: 15vw;
    font-size: 15px;
    flex-basis: 45px;
    background-color: rgb(82, 149, 65);
    color: white;
    border: 1px solid rgb(187, 187, 187);
    cursor: pointer;
    text-transform: capitalize;
    &:hover {
      background-color: rgb(63, 112, 51);
    }
  }
}

@media (max-width: 800px) {
  .contactTitle {
    h1 {
      font-size: 2.4em;
    }
    p {
      font-size: 1.6em;
    }
  }
  .form {
    input {
      width: 35vw;
    }
    textarea {
      width: 35vw;
      height: 10vh;
    }
  }
}
