main {
  .partners {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    .partnersTitle {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-basis: 15vh;
      h2 {
        text-align: center;
        font-size: 3.5em;
        text-transform: capitalize;
      }
      p {
        text-align: center;
        font-size: 2.5em;
      }
    }
    .partnersLogos {
      display: flex;
      flex-basis: 45vh;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      padding-left: 11vw;
      padding-right: 11vw;
      font-size: 1.6em;
    }
  }
}

@media (max-width: 800px) {
  main {
    .partners {
      .partnersTitle {
        h2 {
          font-size: 2.4em;
        }
        p {
          font-size: 1.6em;
          padding: 0 2vh 0 2vh;
        }
      }
    }
  }
}
