.about {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(97, 97, 97);
  height: 15vh;
  padding: 0 5vw 0 5vw;
  text-align: center;
  border-bottom: 1px solid rgba(56, 56, 56, 0.055);
  font-size: 2em;
  font-weight: bold;
}

@media (max-width: 800px) {
  .about {
    height: 15vh;
    font-size: 1.6em;
  }
}
