header {
  .title {
    h1 {
      font-size: 3.4em;
      color: white;
      margin: 16vh 5vw 0 5vw;
      text-align: center;
      text-align-last: center;
    }

    i {
      color: rgba(255, 255, 255, 0.315);
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: rgba(255, 255, 255, 0.822);
      }

      &:nth-child(2) {
        position: absolute;
        top: 50%;
        left: 5%;
        font-size: 2.5em;
      }

      &:nth-child(3) {
        position: absolute;
        top: 50%;
        right: 5%;
        font-size: 2.5em;
      }
    }

    button {
      font-family: "Montserrat", sans-serif;
      background-color: white;
      color: rgb(77, 77, 77);
      font-size: 18px;
      border: none;
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px 40px;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: rgb(218, 218, 218);
      }
    }
  }
}

@media (max-width: 640px) {
  header {
    .title {
      h1 {
        margin: 10vh 5vw 0 5vw;
        font-size: 1.4em;
      }

      i {
        color: rgba(255, 255, 255, 0.315);
        cursor: pointer;
        transition: 0.3s;

        &:nth-child(2) {
          top: 60%;
          font-size: 2em;
        }

        &:nth-child(3) {
          top: 60%;
          font-size: 2em;
        }
      }

      button {
        color: rgb(77, 77, 77);
        font-size: 1em;
        top: 75%;
      }
    }
  }
}
