.partnersLogos {
  div {
    width: 20vw;
    div img {
      position: relative;
      left: 50%;
      transform: translate(-50%);
    }
    h3 {
      padding-bottom: 15px;
      text-align: center;
    }
  }
}

@media (max-width: 775px) {
  .partnersLogos {
    div {
      div {
        img {
          height: 55px;
        }
      }
      h3 {
        font-size: 0.9em;
      }
    }
  }
}
