main {
  .trusted {
    display: flex;
    flex-direction: column;
    flex-basis: 40vh;
    .trustedTitle {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-self: center;
      flex-basis: 25vh;
      h2 {
        text-align: center;
        font-size: 3.5em;
        text-transform: capitalize;
      }
      p {
        text-align: center;
        font-size: 2.5em;
        width: 80vw;
      }
    }
    .trustedPeople {
      display: flex;
      align-items: center;
      padding-left: 15vw;
      padding-right: 15vw;
      font-size: 1.6em;
    }
  }
}

@media (max-width: 1366px) {
  main {
    .trusted {
      .trustedTitle {
        p {
          font-size: 2em;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  main {
    .trusted {
      .trustedTitle {
        h2 {
          font-size: 2.4em;
        }
        p {
          font-size: 1.6em;
        }
      }
    }
  }
}
