main {
  .trusted {
    display: flex;
    flex-direction: column;
    flex-basis: 40vh;
    .trustedTitle {
      flex-basis: 20vh;
      h2 {
        text-align: center;
        font-size: 35px;
        text-transform: capitalize;
        padding-top: 5vh;
      }
      p {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        font-size: 25px;
        width: 80vw;
        padding-top: 5vh;
      }
    }
    .trustedPeople {
      display: flex;
      flex-basis: 50vh;
      align-items: center;
      padding-left: 15vw;
      padding-right: 15vw;
      padding-bottom: 2vh;
    }
  }
}

@media (max-width: 1366px) {
  main {
    .trusted {
      flex-basis: 40vh;
      .trustedTitle {
        flex-basis: 10vh;
        h2 {
          font-size: 1.5em;
          padding-top: 2vh;
        }
        p {
          font-size: 1.3em;
          padding-top: 2vh;
        }
      }
      .trustedPeople {
        padding-bottom: 2vh;
      }
    }
  }
}

@media (max-width: 768px) {
  main {
    .trusted {
      height: 45vh;
      .trustedTitle {
        flex-basis: 5vh;
        h2 {
          font-size: 1.5em;
          padding-top: 1vh;
        }
        p {
          font-size: 1.3em;
          padding-top: 1vh;
        }
      }
      .trustedPeople {
        padding-bottom: 2vh;
        padding-left: 1vw;
        padding-right: 1vw;
      }
    }
  }
}

@media (max-width: 640px) {
  main {
    .trusted {
      height: 70vh;
      .trustedTitle {
        h2 {
          font-size: 1.5em;
          padding-top: 3vh;
        }
        p {
          font-size: 1em;
          padding-top: 2vh;
        }
      }
      .trustedPeople {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
